# Dependencies
node_modules
npm-debug.log

# Build output
dist
build

# Environment
.env
.env.local
.env.development
.env.production

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log